@model BricksMeatballs.Models.FinancialModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        /* CSS TAGGING */
    </style>
</head>


<h1>Create</h1>

<h4>FinancialModel</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApplicantStatus" /> @Html.DisplayNameFor(model => model.ApplicantStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Residency" /> @Html.DisplayNameFor(model => model.Residency)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NumProperties" class="control-label"></label>
                <input asp-for="NumProperties" class="form-control" placeholder="Number of Properties" value="0" />
                <span asp-validation-for="NumProperties" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumLoans" class="control-label"></label>
                <input asp-for="NumLoans" class="form-control" value="0" />
                <span asp-validation-for="NumLoans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyFixedIncome" class="control-label"></label>
                <input asp-for="MonthlyFixedIncome" class="form-control" />
                <span asp-validation-for="MonthlyFixedIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyVariableIncome" class="control-label"></label>
                <input asp-for="MonthlyVariableIncome" class="form-control" />
                <span asp-validation-for="MonthlyVariableIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashTowardsDownPayment" class="control-label"></label>
                <input asp-for="CashTowardsDownPayment" class="form-control" />
                <span asp-validation-for="CashTowardsDownPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfOrdinaryAccount" class="control-label"></label>
                <input asp-for="CpfOrdinaryAccount" class="form-control" />
                <span asp-validation-for="CpfOrdinaryAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditMinPayments" class="control-label"></label>
                <input asp-for="CreditMinPayments" class="form-control" />
                <span asp-validation-for="CreditMinPayments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarLoan" class="control-label"></label>
                <input asp-for="CarLoan" class="form-control" />
                <span asp-validation-for="CarLoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherHomeLoan" class="control-label"></label>
                <input asp-for="OtherHomeLoan" class="form-control" />
                <span asp-validation-for="OtherHomeLoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherLoan" class="control-label"></label>
                <input asp-for="OtherLoan" class="form-control" />
                <span asp-validation-for="OtherLoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyType" class="control-label"></label>
                <input asp-for="PropertyType" class="form-control" />
                <span asp-validation-for="PropertyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanTenure" class="control-label"></label>
                <input asp-for="LoanTenure" class="form-control" />
                <span asp-validation-for="LoanTenure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestRate" class="control-label"></label>
                <input asp-for="InterestRate" class="form-control" />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
