@model BricksMeatballs.Models.FinancialModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>FinancialModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="applicantStatus" /> @Html.DisplayNameFor(model => model.applicantStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="residency" /> @Html.DisplayNameFor(model => model.residency)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="numProperties" class="control-label"></label>
                <input asp-for="numProperties" class="form-control" />
                <span asp-validation-for="numProperties" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numLoans" class="control-label"></label>
                <input asp-for="numLoans" class="form-control" />
                <span asp-validation-for="numLoans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="monthlyFixedIncome" class="control-label"></label>
                <input asp-for="monthlyFixedIncome" class="form-control" />
                <span asp-validation-for="monthlyFixedIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="monthlyVariableIncome" class="control-label"></label>
                <input asp-for="monthlyVariableIncome" class="form-control" />
                <span asp-validation-for="monthlyVariableIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cashTowardsDownPayment" class="control-label"></label>
                <input asp-for="cashTowardsDownPayment" class="form-control" />
                <span asp-validation-for="cashTowardsDownPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cpfOrdinaryAccount" class="control-label"></label>
                <input asp-for="cpfOrdinaryAccount" class="form-control" />
                <span asp-validation-for="cpfOrdinaryAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="creditMinPayments" class="control-label"></label>
                <input asp-for="creditMinPayments" class="form-control" />
                <span asp-validation-for="creditMinPayments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="carLoan" class="control-label"></label>
                <input asp-for="carLoan" class="form-control" />
                <span asp-validation-for="carLoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otherHomeLoan" class="control-label"></label>
                <input asp-for="otherHomeLoan" class="form-control" />
                <span asp-validation-for="otherHomeLoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otherLoan" class="control-label"></label>
                <input asp-for="otherLoan" class="form-control" />
                <span asp-validation-for="otherLoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="propertyType" class="control-label"></label>
                <input asp-for="propertyType" class="form-control" />
                <span asp-validation-for="propertyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loanTenure" class="control-label"></label>
                <input asp-for="loanTenure" class="form-control" />
                <span asp-validation-for="loanTenure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
