@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div">
</div>


<script type="text/javascript">google.charts.load('current', {
        packages: ['corechart', 'bar', 'controls']
    });
    google.charts.setOnLoadCallback(LoadData);

    //Load data onto Graph/GraphChart
    function LoadData() {
        $.ajax({

            url: 'Graph/GraphChart',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                GraphChart(data);
                return false;
            }
        });
        return false;
    }

    function GraphChart(data) {
        var tdata = new google.visualization.DataTable();
        tdata.addColumn('date', 'Time Of Sale');
        tdata.addColumn('number', 'Moving Average Price(Across 3 months)');
        tdata.addColumn('number', 'Average Price');
        for (var i = 0; i < data.length; i++) {
            tdata.addRow([new Date(data[i].saleTime), data[i].dataPoint, data[i].avgMonth]);
        }

        var options = {
            legend: {
                position: 'bottom'
            },
            chart: {
                title: 'Average Price of Housing',
                subtitle: 'in Singapore Dollars (SGD)'
            },
            chartArea: {
                width: '50%'
            },
            colors: ['#900C3F', '#0C905D'],
            hAxis: {
                title: 'Time',
                format: 'MMM/yyyy'
            },
            vAxis: {
                title: 'Price'
            }
        };

        var rangeFilter = new google.visualization.ControlWrapper({
            controlType: 'ChartRangeFilter',
            containerId: 'rangeFilter',
            options: {
                filterColumnIndex: 0,
                ui: {
                    chartType: 'LineChart',
                    chartOptions: {
                        chartArea: {
                            width: '50%',
                        },
                        'enableInteractivity': false,
                        'legend': { 'position': 'none' },
                        'hAxis': { 'textPosition': 'in', 'baselineColor': 'none', format: "MMM/yyyy" },
                    }
                },
                state: {
                    range: {
                        start: new Date(2017, 0, 1),
                        end: new Date(2017, 3, 1)
                    }
                }
            }
        });

        var dateFormatter = new google.visualization.DateFormat({ pattern: "MMM/yyyy" });
        dateFormatter.format(tdata, 0);

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(tdata, options);
        return false;
    }</script>