@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <style>
        body {
            text-align: center;
        }

        h5 {
            text-align: center;
            font-weight: bold;
        }


        .card {
            border: 1px solid grey;
            padding: 3px 10px;
            margin: auto;
            padding: 10px;
            width: 70px;
            height: 200px;
        }

        .logo {
            height: auto;
            width: 50%;
        }

        .card-body {
            text-align: center;
        }

        .col-md-4 {
            text-align: center;
        }

        .row {
            margin-top: 80px;
            margin-bottom: 80px;
            padding-left: 150px;
            padding-right: 150px;
        }

        a {
            color: #3395F0;
            text-align: left;
        }

        #myCarousel {
            position: relative;
            width: 100%;
        }


        .carouselImg{
            max-height: 300px;
            /*min-width: auto;*/
            width: 100%;
            opacity: 0.9;
        }

    </style>
</head>

<body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/img1.jpg" alt="Image1" width="1200" height="675" class="carouselImg">
                <div class="carousel-caption">
                    <h3>
                        FIND YOUR FIRST HOME
                    </h3>
                </div>
            </div>

            <div class="item">
                <img src="~/images/img2.jpg" alt="Image2" width="1200" height="675" class="carouselImg">

            </div>

            <div class="item">
                <img src="~/images/img3.jpg" alt="Image3" width="1200" height="675" class="carouselImg">

            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div class=" row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <svg class="logo" width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M256 152.96L79.894 288.469V470.018H221.401V336.973H296.576V470.018H432.107V288.469L256 152.96Z" fill="#3395F0" />
                        <path d="M439.482 183.132V90.307H365.316V126.077L256 41.982L0 238.919L35.339 284.855L256 115.062L476.662 284.856L512 238.92L439.482 183.132Z" fill="#3395F0" />
                    </svg>

                    <h5 class="card-title">Buying your home</h5>
                    <a asp-controller="Home" asp-action="Buyer"> Read More</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <svg class="logo" width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path d="M405.333 384L345.365 423.979C342.737 425.732 339.648 426.667 336.488 426.667H262.621C258.379 426.667 254.31 424.981 251.309 421.981L197.976 368.648C195.738 366.41 194.214 363.559 193.596 360.455C192.979 357.351 193.296 354.133 194.507 351.209C195.719 348.285 197.77 345.786 200.402 344.028C203.034 342.27 206.128 341.332 209.293 341.333H303.915C305.726 341.336 307.507 340.877 309.092 340.001C310.677 339.124 312.012 337.859 312.973 336.324C313.933 334.788 314.487 333.034 314.582 331.225C314.676 329.417 314.309 327.614 313.515 325.987C304.243 307.053 285.067 277.333 256 277.333H0V426.667H59.6213C62.5102 426.667 65.3688 427.254 68.024 428.392L209.309 488.941C211.965 490.079 214.823 490.666 217.712 490.667H355.829C360.276 490.667 364.611 489.278 368.229 486.693L499.856 392.675C501.32 391.636 502.497 390.245 503.279 388.63C504.061 387.015 504.422 385.228 504.329 383.436C504.235 381.644 503.691 379.904 502.745 378.379C501.799 376.854 500.484 375.593 498.92 374.712C481.635 365.168 448.288 355.363 405.333 384V384Z" fill="#3395F0" />
                            <path d="M268.397 3.9733C264.764 1.426 260.435 0.0594482 255.997 0.0594482C251.56 0.0594482 247.231 1.426 243.597 3.9733L94.264 110.64L119.064 145.36L149.333 123.733V213.333C149.333 218.991 151.581 224.417 155.582 228.418C159.583 232.419 165.009 234.667 170.667 234.667H224V149.333C224 143.675 226.248 138.249 230.248 134.248C234.249 130.248 239.675 128 245.333 128H266.667C272.325 128 277.751 130.248 281.752 134.248C285.752 138.249 288 143.675 288 149.333V234.667H341.333C346.991 234.667 352.418 232.419 356.418 228.418C360.419 224.417 362.667 218.991 362.667 213.333V123.733L392.936 145.355L417.736 110.635L268.397 3.9733Z" fill="#3395F0" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="512" height="512" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <h5 class="card-title">Selling your home</h5>
                    <a asp-controller="Home" asp-action="Seller"> Read More</a>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <svg class="logo" width="463" height="463" viewBox="0 0 463 463" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path d="M237.846 312.273V310.473C228.646 310.373 219.846 309.873 211.346 309.173C206.746 321.073 200.246 332.173 192.146 342.073C207.446 344.573 222.946 345.973 238.446 346.173L237.846 312.273Z" fill="#3395F0" />
                            <path d="M197.346 246.073C189.946 210.673 163.846 181.873 129.146 170.973C119.546 168.073 109.646 166.573 99.646 166.573C74.846 166.673 50.846 175.873 32.546 192.473C-8.154 229.473 -11.054 292.573 25.946 333.273C62.946 373.973 126.046 376.873 166.746 339.873C187.546 320.973 199.446 294.273 199.346 266.173C199.346 259.473 198.646 252.673 197.346 246.073ZM99.646 252.773C116.546 252.773 131.446 263.973 136.046 280.273C141.646 300.373 130.046 321.173 109.846 326.873V335.673C109.846 341.173 105.346 345.673 99.846 345.673C94.346 345.673 89.846 341.173 89.846 335.673V326.973C73.346 322.473 61.946 307.573 61.846 290.473C61.846 284.973 66.346 280.473 71.846 280.473C77.346 280.473 81.846 284.973 81.846 290.473C81.846 300.273 89.846 308.173 99.646 308.173C109.446 308.173 117.346 300.173 117.346 290.373C117.346 280.573 109.346 272.673 99.546 272.673C82.446 272.673 67.546 261.173 63.146 244.673C57.846 224.673 69.846 203.873 89.946 198.473V194.173C89.946 188.673 94.446 184.173 99.946 184.173C105.446 184.173 109.946 188.673 109.946 194.173V198.673C126.246 203.273 137.446 218.173 137.446 235.073C137.446 240.573 132.946 245.073 127.446 245.073C121.946 245.073 117.446 240.573 117.446 235.073C117.446 225.273 109.446 217.273 99.646 217.273C89.846 217.273 81.946 225.173 81.846 235.073C81.846 244.873 89.846 252.773 99.646 252.773Z" fill="#3395F0" />
                            <path d="M237.546 290.373L236.946 254.973C230.746 254.873 224.646 254.673 218.846 254.273C219.146 258.273 219.346 262.173 219.346 266.073C219.346 273.873 218.546 281.773 217.046 289.473C223.646 290.073 230.546 290.373 237.546 290.373Z" fill="#3395F0" />
                            <path d="M347.046 124.873C340.146 128.473 332.846 131.373 325.346 133.573C302.846 140.373 273.346 144.073 242.546 144.073C213.046 144.073 184.946 140.673 163.246 134.373C155.746 132.373 148.546 129.573 141.646 126.073L142.346 154.273C153.646 158.473 164.146 164.473 173.646 171.973C173.946 172.073 174.146 172.073 174.446 172.173C193.646 177.073 217.846 179.673 242.546 179.673C271.146 179.673 299.246 176.073 319.546 169.973C341.246 163.373 346.046 156.473 346.046 155.173C346.046 153.773 345.946 152.473 347.046 151.073V124.873Z" fill="#3395F0" />
                            <path d="M319.446 85.173C299.146 78.973 271.046 75.473 242.446 75.473C213.646 75.473 186.646 78.973 166.446 85.173C145.346 91.573 140.746 97.873 140.646 99.873C140.646 99.873 140.746 99.873 140.746 100.073C141.246 102.273 147.246 109.073 168.746 115.273C188.646 121.073 214.846 124.273 242.446 124.273C271.046 124.273 299.046 120.773 319.346 114.673C341.046 108.173 345.946 101.273 345.946 99.873C345.946 98.573 341.146 91.773 319.446 85.173Z" fill="#3395F0" />
                            <path d="M461.846 361.873V331.873C455.146 335.273 448.146 338.173 440.846 340.373C418.446 347.173 389.146 350.873 358.246 350.873C330.846 350.873 304.146 347.773 283.146 342.273C274.546 340.073 266.246 337.073 258.246 333.173L258.746 362.173C258.746 362.273 258.746 362.273 258.746 362.373C258.746 363.873 263.146 370.573 284.246 377.073C304.246 383.173 331.246 386.573 360.146 386.573C388.946 386.573 416.046 383.073 436.246 376.773C457.346 370.173 461.946 363.273 461.946 361.873H461.846V361.873Z" fill="#3395F0" />
                            <path d="M346.846 180.673C339.946 184.173 332.746 187.073 325.246 189.273C302.746 196.073 273.246 199.773 242.346 199.773C227.146 199.773 212.046 198.773 197.046 196.873C205.146 208.073 211.146 220.673 214.946 234.073C223.546 234.673 232.846 235.073 242.446 235.073C242.746 235.073 243.146 235.073 243.446 235.073C259.846 217.073 303.946 208.073 346.846 206.873V180.673Z" fill="#3395F0" />
                            <path d="M440.146 285.073C417.846 291.673 388.846 295.273 358.446 295.273C328.946 295.273 300.846 291.873 279.146 285.573C271.646 283.473 264.346 280.673 257.346 277.173L257.746 300.173L257.846 308.573C265.646 318.273 302.946 330.773 358.346 330.773C387.246 330.773 414.546 327.373 435.046 321.173C456.646 314.573 461.346 307.773 461.346 306.373C461.346 305.273 461.946 304.073 461.946 303.073H462.046V276.573C455.046 280.073 447.746 283.073 440.146 285.073Z" fill="#3395F0" />
                            <path d="M435.446 236.573C415.046 230.373 387.046 227.073 358.446 227.073H356.746C330.146 227.073 304.846 230.073 285.446 235.573C264.746 241.373 257.646 247.973 256.746 250.673C256.646 250.873 256.646 250.973 256.646 251.073C256.646 251.073 256.646 251.073 256.846 251.473C257.446 253.573 263.346 260.373 284.846 266.673C304.746 272.373 330.946 275.573 358.546 275.573C387.046 275.573 414.046 272.273 434.546 266.173C456.746 259.573 461.746 252.673 461.846 251.173V251.073C461.746 249.573 456.746 242.973 435.446 236.573Z" fill="#3395F0" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="462.046" height="462.046" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <h5 class="card-title">Financial Planning</h5>
                    <a asp-controller="Financial" asp-action="Create"> Read More</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
