@model BricksMeatballs.Models.FinancialModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .FinancialCal {
        background-position: 0% 50%;
        background-image: url('../../images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 110%;
        position: relative;

        opacity: 0.7;
        padding: 7%;
        color: white;
        font-size: 40px;
        margin-bottom: 40px;
    }
    .row{
        margin: 20px; 
    }
    .button{
        margin-left: 30px;
    }
    
</style>


<div class="FinancialCal">Financial Calculator</div>
<div class="row">
    <form asp-action="Create">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class=" row">

            <div class="form-group col-md-3">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group form-check col-md-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Residency" /> @Html.DisplayNameFor(model => model.Residency)
                </label>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NumProperties" class="control-label"></label>
                <input asp-for="NumProperties" class="form-control" placeholder="Number of Properties" value="0" />
                <span asp-validation-for="NumProperties" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NumLoans" class="control-label"></label>
                <input asp-for="NumLoans" class="form-control" value="0" />
                <span asp-validation-for="NumLoans" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="ApplicantStatus" /> @Html.DisplayNameFor(model => model.ApplicantStatus)
            </label>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <input asp-for="MonthlyFixedIncome" placeholder="Monthly Fixed Income" class="form-control" value=""/>
                <span asp-validation-for="MonthlyFixedIncome" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <input asp-for="MonthlyVariableIncome" placeholder="Monthly Variable Income" class="form-control" value="" />
                <span asp-validation-for="MonthlyVariableIncome" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <input asp-for="CashTowardsDownPayment" placeholder="Cash Towards Down Payment" class="form-control" value=""/>
                <span asp-validation-for="CashTowardsDownPayment" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <input asp-for="CpfOrdinaryAccount" placeholder="CPF Ordinary Account" class="form-control" value=""/>
                <span asp-validation-for="CpfOrdinaryAccount" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <input asp-for="CreditMinPayments" placeholder="Minimum Credit Payments" class="form-control" value="" />
                <span asp-validation-for="CreditMinPayments" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <input asp-for="CarLoan" placeholder="Car Loan" class="form-control" value="" />
                <span asp-validation-for="CarLoan" class="text-danger"></span>
            </div>
            <div class="form-group  col-md-4">
                <input asp-for="OtherHomeLoan" placeholder="Other Home Loan" class="form-control" value=""/>
                <span asp-validation-for="OtherHomeLoan" class="text-danger"></span>
            </div>
            <div class="form-group  col-md-4">
                <input asp-for="OtherLoan" placeholder="Other Loans" class="form-control" value=""/>
                <span asp-validation-for="OtherLoan" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-4">
                <input asp-for="PropertyType" placeholder="Property Type" class="form-control" value="" />
                <span asp-validation-for="PropertyType" class="text-danger"></span>
            </div>
            <div class="form-group  col-md-4">
                <input asp-for="LoanTenure" class="form-control" placeholder="Loan Tenure" value="" />
                <span asp-validation-for="LoanTenure" class="text-danger"></span>
            </div>
            <div class="form-group  col-md-4">
                <input asp-for="InterestRate" placeholder="Interest Rate" class="form-control" value="" />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>  
        </div>
        
        <div class="form-group button">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="row">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
